@model Prog6212Poe.Models.ModuleViewModel
@{
    @using Prog6212Poe.Controllers
    ViewData["Title"] = "Study";
}

<style>
    body {
        background-color: azure;
    }

    .save-button {
        margin: 25px 0;
        height: 35px;
        width: 250px;
        background: lightgreen;
        color: black;
        border: none;
        border-radius: 16px;
        cursor: pointer;
    }

        .save-button:hover {
            background: AliceBlue;
            color: white;
        }

    .cancel-button {
        margin: 25px 0;
        height: 35px;
        width: 250px;
        background: red;
        color: black;
        border: none;
        border-radius: 16px;
        cursor: pointer;
    }

        .cancel-button:hover {
            background: AliceBlue;
            color: white;
        }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Study</title>
</head>
<body style="font-family: Arial; margin: 0; padding: 0;">

    <div style="height: 70vh; display: flex; flex-direction: column; justify-content: space-between; padding-bottom: 20px;">


        <label style="color: DarkCyan; font-size: 25px; font-weight: bold; margin: 10px 0 0 0; text-align: right; width: 95px;">STUDY</label>

        <form id="studyForm" asp-controller="Study" asp-action="DropDownSemester" method="post">
            <!-- label and combobox for choosing semester  -->
            <div style="margin: 10px 0;">
                <label>Semester</label>
                <select id="semesterDropdown" asp-for="SelectedItemId" asp-items="ViewBag.SemesterList" style="margin: 5px 0 0 0; width: 120px;" onclick="onDropdownChange()" name="SelectedItemId"></select>
            </div>

            <!-- table to display the semester data -->
            <table id="semesterTable" style="margin: 10px 0; width: 100%; background-color: #F9DBC1; border-collapse: collapse;">
                <thead>
                    <tr>
                        <th>Semester</th>
                        <th>Number of Weeks</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- table to display the Module data -->
            <table id="moduleTable" style="margin: 10px 0; width: 100%; background-color: #F9DBC1; border-collapse: collapse;">
                <thead>
                    <tr>
                        <th>Module Name</th>
                        <th>Module Code</th>
                        <th>Credits</th>
                        <th>Class Hours Per Week</th>
                        <th>Self-study Hours</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </form>

        <form asp-controller="Study" asp-action="DropDownModule" method="post">
            <!-- label and combobox for choosing module code -->
            <div style="margin: 10px 0;">
                <label>Module Code</label>
                <select id="moduleDropDown" asp-for="SelectedItemId" asp-items="ViewBag.ModuleList" name="cmBoxMCode" style="margin: 5px 0 0 0; width: 120px;" onclick="getId()" name="cmBoxMCode"></select>
            </div>
        </form>
        <form asp-controller="Study" asp-action="SaveStudy" method="post" style="width: 45%;">
            <!-- label and textbox for studyHours input -->
            <div style="margin: 10px 0;">
                <label>Input studied hours</label>
                <input asp-for="Studiedhrs" type="text"  style="margin: 5px 0 0 0; width: 120px;" />
            </div>
        

        <!-- Cancel and Save buttons -->
        <div style="display: flex; justify-content: space-between; margin: 35px 0;">
                <button class="cancel-button" type="button" name="btnStudyCancel" onclick="CancelBtn_Click()"  style="margin:auto; width:35%; background-color: #FF7373; box-shadow: 0 0 15px rgba(255, 0, 0, 0.45);">Cancel</button>
           
                <button class="save-button" type="submit" onclick="saveStudy()"name="btnStudySave" style="margin:auto; width: 35%; background-color: #B5FF6F; box-shadow: 0 0 15px rgba(12, 255, 0, 0.45);" onclick="save">Save</button>
            
        </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>

        // Function to handle dropdown change
        function onDropdownChange() {
            // Get the selected semester ID
            var selectedSemesterId = $("#semesterDropdown").val();

            // Check if a semester is selected
            if (selectedSemesterId) {
                
                $.ajax({
                    url: '/Study/DropDownSemester',
                    type: 'POST',
                    data: { selectedSemesterId: selectedSemesterId },
                    success: function (data) {
                        // Update the semester table
                        $('#semesterTable tbody').empty();
                        $.each(data.semesterData, function (index, item) {
                           
                            $('#semesterTable tbody').append('<tr><td>' + item.semesterNum + '</td><td>' + item.numOfWeeks + '</td><td>' + item.startDate + '</td><td>' + item.endDate + '</td></tr>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log('Error fetching semester data:', error);
                      
                    }
                });
            }

            if (selectedSemesterId) {
                $.ajax({
                    url: '/Study/Table',
                    type: 'POST',
                    data: { selectedSemesterId: selectedSemesterId },
                    success: function (data) {

                        $('#moduleTable tbody').empty();
                        $.each(data.moduleData, function (index, item) {
                        
                            $('#moduleTable tbody').append('<tr><td>' + item.name + '</td><td>' + item.code + '</td><td>' + item.credits + '</td><td>' + item.classHoursPerWeek + '</td><td>' + item.selfStudyHours + '</td><td>');
                        });

                        $('#moduleDropDown').empty();
                        $.each(data.moduleData, function (index, item) {
                            
                            $('#moduleDropDown').append('<option value="' + item.moduleId + '">' + item.code + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log('Error fetching semester data:', error);
                        
                    }
                });
            }
        }

        // Function to get selected module ID
        function getId() {
            var selectedItemId = $("#moduleDropDown").val();

            // Check if a module is selected
            if (selectedItemId) {
              
                $.ajax({
                    url: '/Study/IdModule',
                    type: 'POST',
                    data: { selectedItemId: selectedItemId },
                    success: function (data) {
                      a
                        var moduleData = data.moduleData;

                        console.log('Module data:', moduleData);

                        
                    },
                    error: function (xhr, status, error) {
                        console.log('Error fetching module data:', error);
                       
                    }
                });
            }
        }


       
    </script>

    <script>
        function CancelBtn_Click() {
            window.location.href = "/Home/Index";
        }
    </script>


    <a>@ViewBag.Message</a>
</body>
</html>
