@model Prog6212Poe.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <style>
        body{
        background: url('/Images/time.jpg');

        background-position: center;
        background-attachment: fixed;
        }

        .register-container {
            
            width: 280px;
            background-color: azure;
            margin-right: 10px;
        }

        .grid-container {
            margin: 0px 0px 0;
            width: 6px;
            height:320px;
            display: flex;
            flex-direction: column;
        }

        .grid-row {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .grid-label {
            margin-right: 15px;
            align-items: center;
            width: 70px;
        }

        .grid-input {
            border: 0;
            border-bottom: 1px solid #000;
        }

        .radio-button {
            margin: 20px 0 18px 0;
        }

        .button-container {
            display: flex;
            margin-top: 10px;
        }

        .cancel-button {
            margin: 10px 0 0 45px;
            width: 92px;
            height: 23px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 16px;
            cursor: pointer;
        }

        .save-button {
            margin: 10px 0 0 45px;
            width: 92px;
            height: 23px;
            background-color: forestgreen;
            color: white;
            border: none;
            border-radius: 16px;
            cursor: pointer;

        }

        .password-hint {
            margin: 22px 0 0 43px;
            font-size: 11px;
            font-family: Arial;
            font-weight:bold;
            width:220px;
            color:darkcyan;
        }
    </style>
</head>
<body style="margin: 0 0 0 510px">

    <img src="~/Images/register.png" alt="Logo" style="width: 200px; height: 200px; margin: 0 0 0 50px;" />

    <form asp-controller="Login" asp-action="RegisterView" method="post">
        <div class="register-container">
            <div class="grid-container">
                <div class="grid-row">
                    <label asp-for="Student.Name" class="grid-label"></label>
                    <input asp-for="Student.Name" class="grid-input" />
                    <span asp-validation-for="Student.Name" class="text-danger"></span>
                </div>
                <div class="grid-row">
                    <label asp-for="Student.Surname" class="grid-label"></label>
                    <input asp-for="Student.Surname" class="grid-input" />
                    <span asp-validation-for="Student.Surname" class="text-danger"></span>
                </div>
                <div class="grid-row">
                    <label asp-for="Student.Email" class="grid-label"></label>
                    <input asp-for="Student.Email" class="grid-input" />
                    <span asp-validation-for="Student.Email" class="text-danger"></span>
                </div>
                <div class="grid-row">
                    <label asp-for="Student.Gender" class="grid-label"></label>
                    <input type="radio" asp-for="Student.Gender" value="Male" class="radio-button" /> Male
                    <input type="radio" asp-for="Student.Gender" value="Female" class="radio-button" /> Female
                    <span asp-validation-for="Student.Gender" class="text-danger"></span>
                </div>
                <div class="grid-row">
                    <label asp-for="Login.UserName" class="grid-label"></label>
                    <input asp-for="Login.UserName" class="grid-input" />
                    <span asp-validation-for="Login.UserName" class="text-danger"></span>
                </div>
                <div class="grid-row">
                    <label asp-for="Login.Password" class="grid-label"></label>
                    <input type="password" asp-for="Login.Password" class="grid-input" />
                    <span asp-validation-for="Login.Password" class="text-danger"></span>
                </div>
                <div class="button-container">
                    <button class="cancel-button" type="button" onclick="CancelBtn_Click()">Cancel</button>
                    <button class="save-button">Save</button>
                   
                </div>
                <div class="password-hint">Should contain uppercase, lowercase, special character, and number</div>
            </div>
        </div>
    </form>
 


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        var message = '@ViewBag.Message';
        if (message.includes("not added")) {
            alert('Data not saved due to invalid input. Please check your values. Name should have digits, enter valid email, password should contain uppercase, lowercase, special character, and number , gender cant be empty, username cant be empty');
        }
    });
 function CancelBtn_Click() {
        window.location.href = "/Login/LoginView";
    }

    
</script>
</body>
</html>

