@{
    ViewData["Title"] = "About us";
}
<style>
body {
    background-color: lightgoldenrodyellow;
}
</style>
<h1>@ViewData["Title"]</h1>
<h2>TimeWiz</h2>

<p>Created by Eugene Paulse </p>

<p> Welcome to TimeWiz, a dedicated platform designed exclusively for students!
    At TimeWiz, we understand the unique challenges students face in managing their time effectively while juggling academic commitments.
    Our mission is to simplify the student experience by providing a specialized tool that helps you optimize your study schedule, meet deadlines, and achieve academic success.
    With TimeWiz, students can turn every moment into a productive opportunity, making the most of their academic journey</p>

